html {
  background-color: #d3dce7;
}

.logomini > img {
  width: 100%;
  height: 100%;
  margin: 0px;
  max-width: 25x;
}

.item_2_1 {
  grid-column: 1;
  padding: 10%;
}
.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

img {
  max-width: 500px;
  height: fit-content;
}

ul {
  font-family: loras;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.header_projekter {
  margin: 0px;
  padding: 0px;
}
@media screen and (min-width: 600px) {
  .skriftf {
    justify-content: flex-end;
    bottom: 0;
    right: 0;
  }
}
